* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
	outline: none;
}
a:hover {
	text-decoration: underline;
}

/*--------- CABECERA ---------------------------------------------*/
header{
	background-color: seagreen;
	height: 6em;
	width: 100%;
}
.izquierda {
	background-color: seagreen;
	height: 100%;
	width: 15%;
	float: left;
	min-width: 100px;
}
.izquierda img{
	padding-top: 6px;
}
.centro {
	background-color: seagreen;
	height: 100%;
	width: 70%;
	float: left;
	max-width: 1300px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.centro a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	width: 20%;
	text-align: center;
	color: #000;
	transition: .3s ease-out all;
	font-weight: bold;
	/*font-family: 'Orbitron', sans-serif;*/
	
}
.centro a:hover {
	background: rgb(24, 66, 42);
	color: #fff;
	text-decoration: none;
}
.derecha {
	background-color: seagreen;
	height: 100%;
	width: 15%;
	float: left;
	min-width: 100px;
}


/*--------- CONTENIDO PRINCIPAL ---------------------------------------------*/
main {
	clear: both;
	background-color: rgb(235, 245, 231);
	/*width: 100vw;*/
}
.fila_1 {
    display: flex;
    width: 80vw;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.fila_1 > div {
    height: 700px;
    width: 600px;
    margin: 50px;
    margin-top: 100px;
	background-color: #B9F6CA;
	border-style: solid;
	border-width: 10px;
	border-color: #B9F6CA;
	transition: .3s ease-out all;
}
#caja1_1 {
    flex: 1;
}
#caja1_1 > p{
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 20px;
	font-size: 2em;
}
#caja1_1 > p > span {
	font-size: 1em;
	font-family: 'Orbitron', sans-serif;
}
#caja1_1:hover {
	background-color: #AFEC27;
	border-style: solid;
	border-color: #AFEC27;
	
}
#caja1_2 {
    flex: 1;
}
#caja1_2 > img{
    display: block;
	padding: 30px;
}
#caja1_2 > img:nth-child(2){
    float: right;
}
#caja1_2:hover {
	background-color: #AFEC27;
	border-style: solid;
	border-color: #AFEC27;
}
#logo_python {
	width: 350px;
}
#logo_raspberry {
	width: 500px;
}
.fila_2 {
    display: flex;
    width: 80vw;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: center;
}
.fila_2 > div {
    height: 168px;
    width: 400px;
    margin: 50px;
    background-color: #B9F6CA;
}
#caja2_1 {
    flex: 1;
}
#caja2_1 > p {
	font-family: 'Orbitron', sans-serif;
	font-size: 8em;
    float: left;
}
#caja2_1 > img {
    float: right;
}
.fila_3 {
    display: flex;
    width: 80vw;
    margin: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.fila_3 > div {
    height: 700px;
    width: 600px;
    margin: 50px;
    margin-top: 100px;
    background-color: #B9F6CA;
	transition: .3s ease-out all;
}
#caja3_1 {
    flex: 1;
}
#caja3_1:hover {
	background-color: #AFEC27;
}
#caja3_2 {
    flex: 1;
}
#caja3_2:hover {
	background-color: #AFEC27;
}

/*--------- PIE ---------------------------------------------*/
footer {
    height: 20vh;
    width: 100%;
    background-color: #333333;
}