
/** Main **/
.articulo {
	background-color: var(--fondoOscuro);
	flex-direction: column;
	font-size: 0;   /*Para quitar fraja debajo de imagen*/
	line-height: 0; /*Para quitar fraja debajo de imagen*/
	margin-bottom: 4rem;
}
@media (min-width: 768px) {
	.articulo {
		background-color: var(--fondoOscuro);
		display: flex;
		flex-direction: row;
	}
}
.articulo__texto {
	margin: 0;
	padding: 2rem;
}
.articulo__imagen {
	width: 100%;
	max-width: 100%;
}
@media (min-width: 768px) {
	.articulo__imagen {
		max-width: 40rem;
		background-repeat: no-repeat;
		background-size: cover; /*Rellena todo el espacio con la imagen*/
    	background-position: center center;
	}
}

.contenedor__imagen {
	background-image: url(../img/codigo1-1280.jpg);
	/* background-repeat: no-repeat; */
	/* background-size: cover; Rellena todo el espacio con la imagen */
    /* background-position: center center; */
	max-width: 100%;
	width: 100%;
}

/** sobreMi **/
.sobreMi {

}
@media (min-width: 768px) {
	.sobreMi {
		display: grid;
		/* grid-template-areas: "izquierda centro derecha"; */
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2rem;
	}
}

.sobreMi__articulo {
	background-color: var(--fondoOscuro);
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	margin-bottom: 2rem;
}

.sobreMi__imagen {
	max-width: 20rem;
	padding-bottom: 3rem;
}

.contenedor-grid {
	display: grid;
	grid-template-areas: "izquierda contenido derecha";
	grid-template-columns: 1fr 3fr 1fr;
	column-gap: 2rem;
}
.contenido-principal {
	grid-area: contenido;
}
.sidebar-1 {
	grid-area: izquierda;
}

/**** PROYECTOS ******/
.proyectos_principal {
	background-color: var(--fondoOscuro);
	display: flex;
	flex-direction: column;
	font-size: 0;   /*Para quitar fraja debajo de imagen*/
	line-height: 0; /*Para quitar fraja debajo de imagen*/
	margin-bottom: 4rem;
	align-items: center;
}

.flex {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.cla {
	color: blue;
	background-color: blueviolet;
	font-size: 1rem;
}